.wrapper {
    margin-right: 140px;
    margin-left: 140px;
}

@media (max-width: 1420px) {
    .wrapper {
        margin-right: 100px;
        margin-left: 100px;
    }
}

@media (max-width: 1250px) {
    .wrapper {
        margin-right: 80px;
        margin-left: 80px;
    }
}
