.container {
    display: block;
    flex-direction: column;
    text-align: center;
}

.title {
    color: var(--green);
}

.text {
    display: inline-flex;
    max-width: 480px;
    color: var(--white);
}

.ButtonWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}


@media (max-width: 1250px) {
    .text {
        font-size: 18px;
    }

    .title {
        font-size: 32px;
    }

}