.container {
    display: block;
    flex-direction: column;
    text-align: center;
}

.title {
    color: var(--green);
}

.text {
    display: inline-flex;
    max-width: 480px;
    color: var(--white);
}

.ButtonWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}


@media (max-width: 1250px) {
    .text {
        font-size: 18px;
    }

    .title {
        font-size: 32px;
    }

}

@media (max-width: 998px) {
    .text {
        font-size: 16px;
    }

    .title {
        font-size: 28px;
    }

    .ButtonWrapper {
        padding-right: 20px;
        padding-left: 20px;
    }

    .button {
        max-width: 54px;
        font-size: 16px;
    }

}

@media (max-width: 768px) {
    .text {
        font-size: 14px;
    }

    .title {
        font-size: 24px;
    }

    .ButtonWrapper {
        margin-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .button {
        max-width: 54px;
        font-size: 16px;
    }

}

@media (max-width: 554px) {

.title{
    font-size: 36px;
    display: flex;
    justify-content: center;
}

    .text {
        font-size: 18px;
    }

    .ButtonWrapper {
        margin-top: 20px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .button {
        max-width: 54px;
        font-size: 18px;
    }

}