.title {
    display: inline-flex;
    color: var(--green);
}

.white {
    display: inline-flex;
    color: var(--white);
    padding-left: 10px;
}

@media (max-width: 768px) {
    .title{
        font-size: 38px;
    }
}