:root {
    --gray: #828282;
    --black: #000000;
    --darkgray: #2B2B2B;
    --green: #70FF00;
    --lightgray: #4F4F4F;
    --white: #F2F2F2;
}

body {
    background-color: var(--darkgray);
}

p {
    margin: 0;
}
h3{
    margin: 0;
}
